*{
    margin: 0;
    padding: 0;
    font-family: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 17vh;
    padding: 0 10vw;
    box-sizing: border-box;
    z-index: 999;
}
.header-navbar{
    height: 17vh;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    height: 40px;
}
.header-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 20px;
}
.header-menu li{
    letter-spacing: 0.4px;
    font-weight: 400;
    font-size: 14px;
}
.login-btn{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 24px;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 400;
    border: 0;
    cursor: pointer;
}
red{
    color: #F83596;
}
section{
    background-image: url(./assets/background.webp);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    width: 100%;
    padding: 0 10vw;
    box-sizing: border-box;
}
.article-1-division{
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    gap: 24px;
}
.article-text-1{
    width: 50%;
    padding: 0 24px 0 0;
}
.article-video-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 290px;
    overflow: hidden;
    border-radius: 32px;
    z-index: 1;
}
.article-video-1 a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article-video-1 a {
    width: 100%;
}
.article-text-1 span{
    color: white;
    font-weight: 400;
    background-color: #8B3F96;
    padding: 8px 16px;
    border-radius: 24px;
}
.article-text-1 h1{
    margin-top: 24px;
    font-size: 2.7rem;
}
.article-text-1 p, .article-2-content-item p{
    margin-top: 24px;
    color: rgb(58, 58, 58);
    font-weight: 300;
    line-height: 28px;
}
.article-2-division{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 64px 0;
}
.article-2-division h2{
    width: 50%;
    text-align: center;
    line-height: 34px;
}
.article-2-division h3{
    width: 60%;
    margin: 24px 0;
    text-align: center;
    line-height: 24px;
    font-size: 1rem;
    font-weight: 300;
}
.article-2-content-container{
    display: flex;
    gap: 5%;
}
.article-2-content-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    position: relative;
}
.article-2-content-item img{
    display: block;
    height: 124px;
}
.article-2-content-item div{
    margin: 32px 0;
}
.article-2-content-item div h4{
    margin-bottom: 16px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}
.article-2-content-item div p{
    color: rgb(58, 58, 58);
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}
.article-2-content-item div h4:hover{
    color: #F83596;
}
.article-3-division{
    display: flex;
}
.article-3-division img{
    width: 40%;
}
.article-3-division div{
    padding: 0 0 0 24px;
}
.article-3-division h2{
    margin: 0 0 28px 0;
    font-size: 1.8rem;
    font-weight: 600;
}
.article-3-division h3, .article-3-division p{
    margin: 0 0 16px 0;
    color: #3d3d3d;
}
.article-4-division div{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 5%;
}
.article-4-division .card{
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 0 48px 0;
    width: 30%;
    height: 360px;
    background-color: green;
    justify-content: space-between;
}
.product-description{
    list-style: none;
}
